<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script>
         window.onload = function () {
             const inputField = document.getElementById("chat-input");

             function receivedMessage(msg) {
                 let li = document.createElement("li");
                 li.textContent = msg.data;
                 document.getElementById("chat-echo-area").appendChild(li);
             }

             const ws = new WebSocket("ws://localhost:12345/");
             ws.addEventListener('message', receivedMessage);

             inputField.addEventListener("keyup", (evt) => {
                 if (evt.key === "Enter") {
                     ws.send(evt.target.value);
                     evt.target.value = "";
                 }
             });
         };
        </script>
    </body>
</html>
