@charset "UTF-8";

body {
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: small;
}

#main {
    text-align: left;
}

.pure-g {
    background-color: #ccc;
    padding: 0.2em;
}
