{% extends "layouts/default.html" %}
{% block title %}Logging{% endblock %}
{% block content %}
<div id="main">
    <form role="form" method="post">
        <div class="pure-g">
            <div class="pure-u-1-8">
                <a href="https://gitlab.com/santiagopim/logging-caveman">
                    <img src="/images/logo.png"
                         width=32px
                         alt="Code">
                </a>
            </div>
            <div class="pure-u-1-8">
                <form method="get" action="/">
                    <button class="pure-button" type="submit">Reload</button>
                </form>
            </div>
            <div class="pure-u-1-8">
                <form method="post" action="/custom-off">
                    <button class="pure-button" type="submit">OFF</button>
                </form>                
            </div>
            <div class="pure-u-1-8">
                <form method="post" action="/custom-error">
                    <button class="pure-button" type="submit">ERROR</button>
                </form>
            </div>
            <div class="pure-u-1-8">
                <form method="post" action="/custom-warn">
                    <button class="pure-button" type="submit">WARN</button>
                </form>
            </div>
            <div class="pure-u-1-8">
                <form method="post" action="/custom-info">
                    <button class="pure-button" type="submit">INFO</button>
                </form>
            </div>
            <div class="pure-u-1-8">
                <form method="post" action="/custom-debug">
                    <button class="pure-button" type="submit">DEBUG</button>
                </form>
            </div>
            <div class="pure-u-1-8">
                <form method="post" action="/custom-trace">
                    <button class="pure-button" type="submit">TRACE</button>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <ul id="chat-echo-area">
                </ul>
            </div>
            <div class="pure-u-1-2">
                <textarea name="config"
                          cols="50"
                          rows="30"
                          readonly>{{log-config}}
                </textarea>
            </div>
        </div>
    </form>
</div>
{% endblock %}
